{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">
      <img src="{% static 'developer/images/python_images.png' %}" width="25" height="25">
      <a href="{% url 'direction' 'python-algoritm' %}">Алгоритмы</a></span>
    </div>
</nav>
<div class="row">
    <div class="col-md-2">
        <nav class="navbar navbar-light bg-light">
            <div class="nav flex-column">
                {% for p in posts %}
                <a href="{{ p.get_absolute_url }}" class="nav-link active">{{ p.lesson }}</a>
                {% endfor %}
            </div>
        </nav>
    </div>
    <div class="col-md-9">
        <h1 class="text-center">
            <img src="{% static 'developer/images/python_images.png' %}" width="25" height="25">
            Алгоритмы и структуры данных</h1><br><br>
        <p>
            <strong>Алгоритмы и структуры данных</strong> - это фундаментальные концепции в программировании, которые
            позволяют решать
            различные задачи и проблемы. В Python есть множество алгоритмов и структур данных, которые можно
            использовать для решения различных задач.<br><br>

            <strong>Алгоритм</strong> - это последовательность шагов, которые необходимо выполнить для решения задачи.
                Алгоритмы могут
                быть разделены на несколько категорий:<br><br>

                <li>Сортировка: алгоритмы, которые сортируют данные в определенном порядке. Примеры: quicksort,
                    mergesort,
                    bubblesort.
                </li>
                <li>Поиск: алгоритмы, которые находят определенные данные в массиве или списке. Примеры: linear search,
                    binary
                    search.
                </li>
                <li>Обработка строк: алгоритмы, которые обрабатывают строки и выполняют различные операции над ними.
                    Примеры:
                    поиск подстроки, замена подстроки.
                </li>
                <li>Графы: алгоритмы, которые работают с графами и выполняют различные операции над ними. Примеры: поиск
                    кратчайшего пути, поиск циклов.
                </li>
                <br><br>

                <strong>Структура данных</strong> - это способ организации данных в памяти компьютера. Структуры данных
                    могут быть разделены
                    на несколько категорий:<br><br>

                    <li>Массивы: структуры данных, которые хранят данные в виде последовательности элементов. Примеры:
                        списки,
                        кортежи.
                    </li>
                    <li>Списки: структуры данных, которые хранят данные в виде последовательности элементов и позволяют
                        добавлять и
                        удалять элементы. Примеры: списки, связанные списки.
                    </li>
                    <li>Стеки: структуры данных, которые хранят данные в виде последовательности элементов и позволяют
                        добавлять и
                        удалять элементы с одного конца. Примеры: стеки, очереди.
                    </li>
                    <li>Графы: структуры данных, которые представляют собой набор узлов и ребер, которые соединяют эти
                        узлы.
                        Примеры: графы, деревья.
                    </li>
        </p>
    </div>
</div>
{% endblock %}